Node-red Flow json file.json
[{"id":"5ef802700901a6d4","type":"tab","label":"Flow 2","disabled":false,"info":"","env":[]},{"id":"929516376594a2cd","type":"ui_form","z":"5ef802700901a6d4","name":"","label":"","group":"b10ee21768d970ea","order":4,"width":0,"height":0,"options":[{"label":"Average Heart Beats/min","value":"AVGHEARTBEATSPERMIN","type":"number","required":true,"rows":null},{"label":"Palpitations/day","value":"PALPITATIONSPERDAY","type":"number","required":true,"rows":null},{"label":"Cholesterol","value":"CHOLESTEROL","type":"number","required":true,"rows":null},{"label":"BMI","value":"BMI","type":"number","required":true,"rows":null},{"label":"Age","value":"AGE","type":"number","required":true,"rows":null},{"label":"Exercise mints/week","value":"EXERCISEMINPERWEEK","type":"number","required":true,"rows":null}],"formValue":{"AVGHEARTBEATSPERMIN":"","PALPITATIONSPERDAY":"","CHOLESTEROL":"","BMI":"","AGE":"","EXERCISEMINPERWEEK":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":250,"y":200,"wires":[["c0d224c826818b0c"]]},{"id":"d6a2502f81457afc","type":"ui_dropdown","z":"5ef802700901a6d4","name":"","label":"Select Sex","tooltip":"","place":"Select option","group":"b10ee21768d970ea","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Female","value":"F","type":"str"},{"label":"Male","value":"M","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":230,"y":560,"wires":[["182f072a5823264a","544039f07e1845f5"]]},{"id":"a3b21c561eda8cb4","type":"ui_dropdown","z":"5ef802700901a6d4","name":"","label":"Are you Smoker","tooltip":"","place":"Select option","group":"b10ee21768d970ea","order":2,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Yes","value":"Y","type":"str"},{"label":"No","value":"N","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":240,"y":720,"wires":[["bfbfcc25b25f1c8e","d1113443da7a8387"]]},{"id":"ade0e2e0270efdb9","type":"ui_dropdown","z":"5ef802700901a6d4","name":"","label":"Family History of Heart Failure","tooltip":"","place":"Select option","group":"b10ee21768d970ea","order":3,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Yes","value":"Y","type":"str"},{"label":"No","value":"N","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":270,"y":840,"wires":[["048677e09f19ae4f","f55c6cda54bdc938"]]},{"id":"c0d224c826818b0c","type":"function","z":"5ef802700901a6d4","name":"Global variables for form node","func":"global.set(\"AVGHEARTBEATSPERMIN\",msg.payload.AVGHEARTBEATSPERMIN)\nglobal.set(\"PALPITATIONSPERDAY\",msg.payload.PALPITATIONSPERDAY)\nglobal.set(\"CHOLESTEROL\",msg.payload.CHOLESTEROL)\nglobal.set(\"BMI\",msg.payload.BMI)\nglobal.set(\"AGE\",msg.payload.AGE)\nglobal.set(\"EXERCISEMINPERWEEK\",msg.payload.EXERCISEMINPERWEEK)\nvar apikey=\"R1rYeY-PSqLe3EiJL10NqPW9EfRBcO3rJzO3lF0vw6TJ\"\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\": 'urn:ibm:params:oauth:grant-type:apikey',\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":200,"wires":[["4eabd4bed1a1359d","8996c366988ced63"]]},{"id":"182f072a5823264a","type":"function","z":"5ef802700901a6d4","name":"Sex","func":"global.set(\"SEX\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":620,"wires":[[]]},{"id":"bfbfcc25b25f1c8e","type":"function","z":"5ef802700901a6d4","name":"Smoker","func":"global.set(\"SMOKERLAST5YRS\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":780,"wires":[[]]},{"id":"048677e09f19ae4f","type":"function","z":"5ef802700901a6d4","name":"Family history","func":"global.set(\"FAMILYHISTORY\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":920,"wires":[[]]},{"id":"4eabd4bed1a1359d","type":"http request","z":"5ef802700901a6d4","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":450,"y":260,"wires":[["c312a7dd68168f38","8e1d438ce2b90f2b"]]},{"id":"c312a7dd68168f38","type":"debug","z":"5ef802700901a6d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":240,"wires":[]},{"id":"8e1d438ce2b90f2b","type":"function","z":"5ef802700901a6d4","name":"Pre-Prediction","func":"var AVGHEARTBEATSPERMIN = global.get(\"AVGHEARTBEATSPERMIN\")\nvar PALPITATIONSPERDAY = global.get(\"PALPITATIONSPERDAY\")\nvar CHOLESTEROL = global.get(\"CHOLESTEROL\")\nvar BMI = global.get(\"BMI\")\nvar AGE = global.get(\"AGE\")\nvar SEX = global.get(\"SEX\")\nvar FAMILYHISTORY= global.get(\"FAMILYHISTORY\")\nvar SMOKERLAST5YRS = global.get(\"SMOKERLAST5YRS\")\nvar EXERCISEMINPERWEEK = global.get(\"EXERCISEMINPERWEEK\")\nvar token = msg.payload.access_token\nmsg.headers = {'Content-Type': 'application/json', 'Authorization': 'Bearer ' +token,\"Accept\":\"application/json\"}\nmsg.payload = {\"input_data\": [{\"fields\": [\"AVGHEARTBEATSPERMIN\",\"PALPITATIONSPERDAY\",\"CHOLESTEROL\",\"BMI\",\"AGE\",\"SEX\",\"FAMILYHISTORY\",\"SMOKERLAST5YRS\",\"EXERCISEMINPERWEEK\"],\"values\": [[AVGHEARTBEATSPERMIN,PALPITATIONSPERDAY,CHOLESTEROL,BMI,AGE,SEX,FAMILYHISTORY,SMOKERLAST5YRS,EXERCISEMINPERWEEK]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":340,"wires":[["764d9f4dd40fccf4","01da7031d7fa484b"]]},{"id":"764d9f4dd40fccf4","type":"http request","z":"5ef802700901a6d4","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/d566edea-ac71-415b-93b2-ed9ee99a1f39/predictions?version=2022-07-22","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":590,"y":360,"wires":[["db56d3211d3cbd2a","5345a2ea1d4b8105"]]},{"id":"db56d3211d3cbd2a","type":"debug","z":"5ef802700901a6d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":300,"wires":[]},{"id":"8996c366988ced63","type":"debug","z":"5ef802700901a6d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":160,"wires":[]},{"id":"544039f07e1845f5","type":"debug","z":"5ef802700901a6d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":500,"wires":[]},{"id":"d1113443da7a8387","type":"debug","z":"5ef802700901a6d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":680,"wires":[]},{"id":"f55c6cda54bdc938","type":"debug","z":"5ef802700901a6d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":820,"wires":[]},{"id":"5345a2ea1d4b8105","type":"function","z":"5ef802700901a6d4","name":"","func":"msg.payload = msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":440,"wires":[["69a87572e046723b","0b65b44936ab3e2d"]]},{"id":"69a87572e046723b","type":"debug","z":"5ef802700901a6d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":500,"wires":[]},{"id":"0b65b44936ab3e2d","type":"ui_text","z":"5ef802700901a6d4","group":"b10ee21768d970ea","order":5,"width":0,"height":0,"name":"","label":"Prediction for Heart Failure ","format":"{{msg.payload}}","layout":"row-spread","className":"","x":720,"y":420,"wires":[]},{"id":"01da7031d7fa484b","type":"debug","z":"5ef802700901a6d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":190,"y":420,"wires":[]},{"id":"b10ee21768d970ea","type":"ui_group","name":"Enter the Values","tab":"462e4decc9cf9225","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"462e4decc9cf9225","type":"ui_tab","name":"Prediction","icon":"dashboard","disabled":false,"hidden":false}]